%h1 What is Checkin?
%p Checkin in an app inspired by Foursquare and Facebook's Location posts but with a slight twist. Instead of people being able to check in at a location whenever, an artist that is playing a show at a venue will create an event at a specific time and users can only check in at that time.
%p There's more to it than just checking in at specific times. The creators of the event can add a message to display to the user and upload a song to give to the user when they check in. The message and file are emailed to the person who checked in as an incentive for doing so.
%p To get started #{link_to 'log in', new_user_session_path} or #{link_to 'register', new_user_registration_path}.
