/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require reset-min
 *= require bootstrap.min
 *= require_self
 *= require_tree . 
*/

html {
  background: url(/assets/groovepaper.png);
  margin: 0 auto;
  width: 600px;
}

body {
  background: none;
}

#header {
  padding-top: 20px;

  h1 {
    float: left;
  }

  #nav {
    color: #222;
    float: right;
    padding-top: 12px;

    li {
      display: inline-block;
      margin-left: 10px;

      a {
        color: #222;
        border-bottom: 2px #8ceeff solid;
      }

      a:hover {
        border-color: #ccf7ff;
        text-decoration: none;
      }
    }
  }
}

#content {
  h2 {
    border-bottom: 2px solid #999;
    line-height: normal;
    margin-bottom: 10px;
  }
}

#content {
  clear: both;
}

.event {
  h3 {
    line-height: normal;
  }

  p {
    line-height: normal;
    margin-bottom: 0;
  }
}
